<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989299797035-hp1rh7dtn1uog65gbh8un6rtfk36jjma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989299797035-hp1rh7dtn1uog65gbh8un6rtfk36jjma</string>
	<key>API_KEY</key>
	<string>AIzaSyDYXJ_WpdRo0dePcSmbe-CVro1TxOp3HTw</string>
	<key>GCM_SENDER_ID</key>
	<string>989299797035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.wonkytech.wtGeographyPlay</string>
	<key>PROJECT_ID</key>
	<string>wt-geography-play</string>
	<key>STORAGE_BUCKET</key>
	<string>wt-geography-play.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989299797035:ios:2eaf459245096ea1f44e6e</string>
	<key>DATABASE_URL</key>
	<string>https://wt-geography-play-default-rtdb.firebaseio.com</string>
</dict>
</plist>